@mixin absolute-element($top:0,$left:0,$right:0,$bottom:0) {
  position: absolute;
  z-index: 99;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

@mixin center-element {
  position: absolute;
  z-index: 99;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
