/*color*/
$color-white:#ffffff;

/*灰色系*/
$color-grey-1:#bababa;
$color-grey-2:#cccccc;
$color-grey-3:#ebebeb;
$color-grey-4:#ededed;
$color-grey-5:#5e5e5e;
$color-grey-6:#8a8a8a;

$color-grey-blue-6:#e9edf0;

/*黑色系*/
$color-black-1:#000000;
$color-black-2:#101010;

/*蓝色系*/
$color-blue-1:#d4e3ef;
$color-blue-2:#6c75ad;
$color-blue-3:#436b99;
$color-blue-4:#363951;
$color-blue-5:#d1e4f0;
$color-blue-6:#4c6a95;

/*黄色系*/
$color-yellow-1:#ff9800;
$color-yellow-2:#faa848;



