
/*color*/
$color-white:#ffffff;

/*灰色系*/
$color-grey-1:#bababa;
$color-grey-2:#cccccc;
$color-grey-3:#ebebeb;
$color-grey-4:#ededed;
$color-grey-5:#5e5e5e;
$color-grey-6:#8a8a8a;

/*现在用到的颜色*/
$color-grey-666666:#666666;
$color-grey-fbfbfb:#fbfbfb;
$color-grey-999999:#999999;
$color-grey-333333:#333333;
$color-grey-eeeeee:#eeeeee;
$color-grey-f8f8f8:#f8f8f8;
$color-grey-f4f4f4:#f4f4f4;
$color-grey-a1a1a1:#a1a1a1;
$color-grey-6f6f6f:#6f6f6f;
$color-grey-f3f3f3:#f3f3f3;



$color-grey-blue-6:#e9edf0;

/*黑色系*/
$color-black-1:#000000;
$color-black-2:#101010;

/*蓝色系*/
$color-blue-1:#d4e3ef;
$color-blue-2:#6c75ad;
$color-blue-3:#436b99;
$color-blue-4:#363951;
$color-blue-5:#d1e4f0;
$color-blue-6:#4c6a95;

$color-blue-3d98de:#3d98de;
$color-blue-71b5ff:#71b5ff;
$color-blue-afcdef:#afcdef;
$color-blue-aeceee:#aeceee;




/*现在用到的颜色*/
$color-blue-7:#0165fe;


/*黄色系*/
$color-yellow-1:#ff9800;
$color-yellow-2:#faa848;

/*元素颜色*/

.container{
    .header{
        .icon-tongguo{
            background-image:url(../../../static/img/icon_-pass2@2x.png) ;  
        }
        .icon-bohui{
            background-image:url(../../../static/img/icon_reject2@2x.png) ;
        }
        .icon-zhuanban{
            background-image:url(../../../static/img/icon_recent_approval2@2x.png)  ;
        }
        .icon-feiqi{
            background-image:url(../../../static/img/icon_delete2@2x.png) ;
        }
        
        .mu-tab-active{
             
            .icon-tongguo{
                background-image:url(../../../static/img/icon_-pass@2x.png);  
            }
            .icon-bohui{
                background-image:url(../../../static/img/icon_reject@2x.png);
            }
            .icon-zhuanban{
                background-image:url(../../../static/img/icon_recent_approval@2x.png);
            }
            .icon-feiqi{
                background-image:url(../../../static/img/icon_delete@2x.png);
            }
            
        }
        
    } 
    .content-container{
        padding: 10px;
        .content-container-bg{
            background-color: $color-white;
            padding: 15px;
            .flow-to-user{
                margin: 8px 0 14px 0;
                .flow-to-user-tips{
                    color: $color-grey-999999;
                }
            }
            .btn-wrap-scfj{
                margin-top: 10px;
                .four-col-item-wrap{
                    &.row {
                            justify-content: flex-start;
                        }
                        
                        .four-col-item{
                            margin-right: 14px; 
                            position: relative;
                            text-align: center;
                            border-radius: 6px;
                            //background-color: red;
                            
                        }
                        .img-item{
                            height: 64px;
                            img{
                                height: 100%;
                                width: auto;
                            }
                        }
                        :nth-child(4n){
                            margin-right: 0px;
                        }
                        .btn-item{
                            text-align: center;
                            color: #6f6f6f;
                            border-radius: 6px;
                            padding: 7px 0px;
                            border: 1px solid $color-grey-eeeeee;
                            .icon-upload{
                                display: inline-block;
                                background-size: cover;
                                position: relative;
                                width: 24px;
                                height: 24px;  
                                top: 5px;
                                background-image: url(../../../static/img/icon_add_pic@2x.png); 
                            }
                        }
                }
            }
            .title-cs{
                margin-top: 20px;
            }
            .add-user-wrap{
                &.add-user-wrap-zb{
                    margin-bottom: 9px;
                }
                .small-btn-wrapper{
                    .three-col-item-wrap{
                        &.row {
                            justify-content: flex-start;
                        }
                        
                        .three-col-item{
                            margin-right: 14px;
                            
                            position: relative;
                            padding-right:32px ;
                            margin-top: 10px;
                            
                            >div{
                                float: left;
                                display: inline-block;
                                padding: 9px 0;
                                background-color:$color-blue-aeceee;
                                text-align: center;
                                color: $color-white;
                            }
                            .text-left{
                                width: 100%;
                                border-bottom-left-radius: 6px;
                                border-top-left-radius: 6px;
                                
                            }
                            .close-right{
                                width: 32px;
                                margin-right: -32px;
                                border-bottom-right-radius: 6px;
                                border-top-right-radius: 6px;;
                                border-left: none;
                            }
                        }
                        :nth-child(3n){
                            margin-right: 0px;
                        }
                        .btn-item{
                            background-color: $color-grey-fbfbfb;
                            padding: 9px 0;
                            text-align: center;
                            color: #6f6f6f;
                            border: 1px solid $color-grey-f3f3f3;
                            border-radius: 6px;
                        }
                    }
                    
                    .btn-item-wrap{
                        margin-top: 10px;
                        .btn-item{
                            background-color:$color-grey-eeeeee;
                            padding: 9px 0;
                            text-align: center;
                            color: $color-grey-6f6f6f;
                            border-radius: 6px;
                        }
                        .btn-item-zk{
                            background-color:$color-blue-afcdef;
                            color: $color-white;
                        }
                    }
                    
                }
            }
            .title-now-person{
                margin-top: 20px;
            }
            .now-person{
                margin-top: 8px;
            }
        }
        .textarea-wrap{
            &.textarea-wrap-zb{
                margin-top: 14px;
            }
            &.textarea-wrap-fq{
                margin-top: 14px;
                textarea{
                    height: 180px;
                }
            }
            textarea{
                width: 100%;
                resize: none;
                border: 2px solid $color-grey-f8f8f8;
                background-color: $color-grey-fbfbfb;
                outline: none;
                padding: 15px;
                height: 150px;
                color: $color-grey-666666;
            }
        }
        .btn-wrap-tj{
            margin-top: 8px;
        }
    }
   
    
}
